.contact-container {
  height: 100vh;
  background: url('/pb.png') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contact-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.contact-form {
  position: relative;
  z-index: 2;
  background: rgba(196, 195, 195, 0.95);
  padding: 40px 30px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.contact-form label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #222;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.contact-form button {
  margin-top: 20px;
  padding: 12px;
  background-color: #f5b01b;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background-color: #000000;
}
